# Persistent symlinks for USB devices
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="0000", RUN+="/sbin/modprobe ftdi_sio" RUN+="/bin/sh -c 'echo 0403 0000 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"
KERNEL=="ttyUSB*", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A9ATH7FZ", SYMLINK+="dynamixel"
KERNEL=="ttyUSB*", ATTRS{serial}=="A903DA5H", SYMLINK+="trax"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="compass"
KERNEL=="ttyACM*", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", SYMLINK+="hokuyo_04"
KERNEL=="ttyACM*", ATTRS{serial}=="0123456789", ATTRS{manufacturer}=="mbed.org", ATTRS{product}=="CDC DEVICE", SYMLINK+="arm"
KERNEL=="video*", ATTRS{serial}=="F88DC880", ATTRS{idProduct}=="081b", SYMLINK+="left_camera"
KERNEL=="video*", ATTRS{serial}=="60134170", ATTRS{idProduct}=="081b", SYMLINK+="right_camera"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="fc5f", MODE="666", SYMLINK+="linear"
SUBSYSTEM=="usb|usb_device", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="a8b0", GROUP="dialout", SYMLINK+="epos2"
SUBSYSTEM=="usb", ATTR{idVendor}=="1d27", ATTR{idProduct}=="0601", SYMLINK+="xtion"
SUBSYSTEM=="usb", ATTR{idVendor}=="b1ac", ATTR{idProduct}=="f000", MODE="0666", SYMLINK+="pixy"
SUBSYSTEM=="usb", ATTR{idVendor}=="1fc9", ATTR{idProduct}=="000c", MODE="0666"
